<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary bg-info progress-bar-striped active" 
                        aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                        style="height: 10px;" role="progressbar"
                        [style.width]="getProgress1"
                    >   <span class="sr-only"></span>
                    </div>
                </div>

                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary bg-primary progress-bar-striped active" 
                        aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                        style="height: 10px;" role="progressbar"
                        [style.width]="getProgress2"
                    >   <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                <app-augmentative (emitProgressValue)="changeValueProgress1($event)"
                    [progressValue]="progress1"
                    [btnClass]="leftButton"></app-augmentative>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                <app-augmentative (emitProgressValue)="changeValueProgress2($event)"
                    [progressValue]="progress2"
                    [btnClass]="rightButton"></app-augmentative>

            </div>
        </div>
    </div>
</div>
