<p>grafica1 works!</p>

<div class="row">
    <div class="col-6">
        <app-dona [titleIn]="title1" [labelsIn]="labels1" [dataIn]="data1">
        </app-dona>
    </div>
    <div class="col-6">
        <app-dona [titleIn]="title2" [labelsIn]="labels2" [dataIn]="data2">
        </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona [titleIn]="title3" [labelsIn]="labels3" [dataIn]="data3">
        </app-dona>
    </div>
    <div class="col-6">
        <app-dona [titleIn]="title4" [labelsIn]="labels4" [dataIn]="data4">
        </app-dona>
    </div>
</div>
