<div class="input-group">
    <span class="input-group-btn">
        <button [ngClass]="btnClass" type="button" 
            (click)="addValue(-5)">
            <i class="fa fa-minus"></i>
        </button>
    </span>
    <input type="text"
        #inputProgressValue
        (ngModelChange)="valueChange($event)"
        [(ngModel)]="progress"
        [ngClass]="{'is-invalid': progress > 100 || progress < 0}"
        name="progress"
        class="form-control" 
        placeholder="Progress">
    <span class="input-group-btn">
        <button [ngClass]="btnClass" type="button" (click)="addValue(5)">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>
